.navbar-container {
  height: 60px;
  background-color: $dark-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .website-name {
    color: $white;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 400;
    font-family: $roboto;
    margin-left: 30px;
    line-height: 60px;

    #website-main-nav {
      margin-left: 25px;
      
      a {
        font-size: 18px;
        top: -1px;
        position: relative;
        cursor: pointer;
      }
    }
  }
  .icons-container {
    margin-right: 10px;
    
    a {
      color: $white;
      margin-right: 20px;
      font-size: 22px;
      line-height: 60px;
    }
  }
}