.navbar-container {
  height: 60px;
  background-color: $dark-blue;

  .website-name {
    color: white;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 400;
    font-family: $roboto;
    margin-left: 20px;
    line-height: 60px;
  }
}